/* kizuna共通 */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background-color: #F2FAF9;
}

/* ヘッダー */
header {
    padding: 16px 20px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

@media (min-width: 760px) {
    header {
        padding: 16px 32px;
    }
}

/* メイン */
main {
    flex-grow: 1;
}

/* タイトルセクション */
.ttlSec {
    padding: 40px 20px;
}

@media (min-width: 760px) {
    .ttlSec {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 32px;
    }
}

/* リンクセクション */
.linkSec {
    padding: 0 20px;
}

@media (min-width: 760px) {
    .linkSec {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 32px;
    }
}

.teamList>li:not(:first-child) {
    padding-top: 24px;
}

.linkListWrapper {
    padding-top: 24px;
}

/* フッター */
footer {
    padding: 16px 20px;
    background-color: #FFFFFF;
}

@media (min-width: 760px) {
    footer {
        padding: 16px 32px;
    }
}